<html>

<head>
  <title>欢迎来到 Readdig.com</title>
</head>

<body>
  <p>Hi <%= name %></p>
  <p>欢迎注册 Readdig.com。</p>
  <p>Readdig.com 一个 RSS 和 Podcast 阅读器，祝您使用愉快！</p>
  <p>您收到这封邮件是因为在 Readdig.com 注册新用户。如果您并没有在 Readdig.com 注册，请忽略这封邮件。</p>
  <p>
    Readdig Teams<br />
    https://www.readdig.com
  </p>
</body>

</html>