.main {
  &.toggler {
    .add-action {
      .btn-actions {
        display: none;
      }

      .btn-menu {
        display: flex;
      }
    }
  }
}

.add-action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(12px) 0;
  gap: 5px;

  .btn-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: rem(5px) rem(10px);

      svg {
        transition: transform 0.3s ease, color 0.3s ease;
      }

      @media (hover: hover) {
        &:hover {
          svg {
            color: var(--primary-dark);
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .btn-menu {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 100%;

    @media (hover: hover) {
      &:hover {
        svg {
          color: var(--primary-dark);
          transform: scale(1.1);
        }
      }
    }

    svg {
      width: rem(24px);
      height: rem(24px);
      transition: transform 0.3s ease, fill 0.3s ease;
    }
  }
}

/* Mobile Styles */
@media (max-width: 1023px) {
  .main {
    &.toggler {
      .add-action {
        margin-bottom: 1.75rem;

        .btn-actions {
          display: flex;
        }

        .btn-menu {
          display: none;
        }
      }
    }
  }

  .add-action {
    margin-bottom: 1.75rem;

    .btn-actions {
      display: none;
    }

    .btn-menu {
      display: flex;
    }
  }
}