.source-detail {
  .loader {
    padding: 1.25rem 0;
  }
  .no-content {
    padding: 1.25rem 0;
  }
  .source-info {
    display: flex;
    align-items: flex-start;
    gap: rem(10px);
    width: 100%;
    padding: 0.625rem 0.625rem 0 0.625rem;

    .icon {
      width: rem(64px);
      height: rem(64px);
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background-color: var(--bg-medium);
      border-radius: $border-radius;

      img {
        max-width: rem(64px);
        max-height: rem(64px);
      }
    }

    .content {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;

      .title {
        font-weight: 600;
        font-size: 1.25rem;
        margin: 0 0 rem(8px) 0;
      }

      .desc {
        color: var(--text-medium);
        line-height: 1.25rem;
        max-height: 2.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: rem(10px);
      }

      .actions {
        display: flex;
        align-items: center;
        gap: rem(8px);

        .like {
          padding: 0;
          width: rem(32px);
          height: rem(32px);
          border-radius: 50%;
          background-color: var(--bg-light);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          @media (hover: hover) {
            &:hover {
              svg {
                color: var(--primary-dark);
                transform: scale(1.1);
              }
            }
          }

          svg {
            transition: transform 0.3s ease, color 0.3s ease;
          }
        }
      }
    }
  }
  .source-desc {
    color: var(--text-medium);
    line-height: 1.125rem;
    padding: 0 0.625rem;
  }
  .source-articles {
    margin: 0.625rem 0;
    width: 100%;
    .no-content {
      font-size: 0.875rem;
    }
    .article-item {
      &:first-child {
        border-top: 1px solid var(--divider-light);
      }
    }
  }
}

/* Mobile Styles */
@media (max-width: 1023px) {
  .source-detail {
    .source-info {
      .content {
        .title {
          font-size: 1rem;
          margin: 0 0 rem(4px) 0;
        }

        .desc {
          font-size: 0.875rem;
          line-height: 1.125rem;
        }
      }
    }
  }
}