.loader {
	display: flex;
	justify-content: center;
	height: 100%;
	
	svg {
		color: var(--primary);
		height: rem(30px);
		width: rem(30px);
		animation: spin 1.8s linear infinite;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}