.menu-list {
  margin: 0;
  padding: rem(5px 0);
  list-style: none;
  border-bottom: 1px solid var(--divider);

  li {
    @media (hover: hover) {
      &:hover {
        background-color: var(--bg-light);
      }
    }

    &.active {
      background-color: var(--primary);

      a {
        * {
          color: var(--text) !important;
        }

        svg {
          color: var(--svg-light) !important;
        }

        .action {
          @media (hover: hover) {
            &:hover {
              svg {
                color: var(--primary-dark) !important;
              }
            }
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      padding: 0.375rem 0.75rem 0.375rem 0.775rem;
      color: var(--text-dark);
      text-decoration: none;
      user-select: none;

      @media (hover: hover) {
        &:hover {
          .icon {
            svg {
              color: var(--primary-dark);
              transform: scale(1.1);
            }
          }
        }
      }

      .icon {
        display: flex;
        align-items: center;
        width: rem(24px);
        height: rem(24px);
        margin-right: rem(3px);

        svg {
          transition: transform 0.3s ease, color 0.3s ease;
        }
      }

      .title {
        height: 1.25rem;
        line-height: 1.25rem;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
      }

      .count {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 2.375rem;
        margin-left: rem(3px);
        color: var(--text-medium);
        text-align: right;
      }
    }
  }
}
