* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	font-size: $font-size;
	overscroll-behavior: none;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	padding: 0;
	position: fixed;
	overflow: hidden;
	font-family: $font;
	font-size: 0.875rem;
	color: var(--text-dark);
	background-color: var(--bg);
	-webkit-touch-callout: none;
}

textarea {
	outline: none;
	-webkit-appearance: none;
}

input {

	&[type='url'],
	&[type='text'],
	&[type='email'],
	&[type='password'] {
		outline: none;
		-webkit-appearance: none;
	}
}

a {
	color: var(--primary);
	text-decoration: none;

	@media (hover: hover) {
		&:hover {
			text-decoration: underline;
			color: var(--primary-dark);
		}
	}
}

svg {
	fill: var(--svg);
	width: 1.25rem;
	height: 1.25rem;

	&.lucide {
		fill: transparent;
		stroke: var(--svg);
		width: rem(20px);
		height: rem(20px);
	}
}

pre,
code,
kbd,
samp {
	font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
	font-size: rem(13px);
	line-height: 125%;
}

pre {
	overflow: auto;
	color: var(--text-dark);
	background: var(--bg-light);
	border: 1px solid var(--divider);
	border-radius: $border-radius;
	margin-bottom: 1rem;
	padding: 0.625rem 0.875rem;
	word-break: normal;
	word-wrap: normal;
}

blockquote {
	margin: 0;
	padding: 0 rem(18px);
  border-left: 5px solid var(--bg-light);
}

// https://danielpietzsch.com/articles/how-to-create-a-blurry-status-bar-for-pwas-on-ios
/* Wrap it in a @supports rule so it only takes effect on devices that understand this */
@supports (padding: env(safe-area-inset-top)) {
	/* This is for PWA (on iOS), so that the status bar has a transparent yet blurry background. */
	body::before {
		content: '';
		z-index: 2; /* necessary to be above <audio> elements */
		position: fixed; /* position it fixed to it stays put at the top */
		top: 0;
		left: 0;
		right: 0;
		height: env(safe-area-inset-top); /* i.e. the exact height of the status bar */
		backdrop-filter: blur(10px);
		/* Fully blur the top half, then up to 0.7 blur-opacity/strength for the next quarter, and at last, go from 0.7 to full transparent (i.e. no blur) at the very bottom. */
		mask: linear-gradient(to bottom, black, black 50%, rgba(0, 0, 0, 0.7) 75%, rgba(0, 0, 0, 0) 100%);
	}
}