body {
  &.dark {
    --box-shadow:             rgb(0 0 0 / 50%);
    --box-shadow-circle:      rgb(0 0 0 / 50%);
    --sidebar-overlay:        rgb(0 0 0 / 70%);
    --modal-overlay:          rgb(0 0 0 / 90%);
    --player-progress-linear: linear-gradient(rgb(255 255 255 / 10%), rgb(0 0 0 / 60%));

    --bg:             #121212;
    --bg-dark:        #121212;
    --bg-medium:      #1E1E1E;
    --bg-light:       #2C2C2E;
    --bg-circle:      #1E1E1E;
  
    --input:          #2C2C2E;

    --text:				    #E0E0E0;
    --text-dark:      #9E9E9E;
    --text-medium:    #BDBDBD;
    --text-light:     #757575;
  
    --svg:            #9E9E9E;
    --svg-medium:     #1E1E1E;
    --svg-light:		  #E0E0E0;
    --svg-dark:       #BDBDBD;

    --divider:        #424242;
    --divider-dark:   #616161;
    --divider-medium: #757575;
    --divider-light:  #303030;
  }
}
