module.exports = {
  apps: [
    {
      name: 'api',
      cwd: 'dist',
      script: 'server.js',
      watch: false,
      error_file: '/dev/null',
      out_file: '/dev/null',
      log_file: '/dev/null'
    },
    {
      name: 'conductor',
      cwd: 'dist/workers',
      script: 'conductor.js',
      instances: 1,
      exec_mode: 'cluster',
      watch: false,
      error_file: '/dev/null',
      out_file: '/dev/null',
      log_file: '/dev/null'
    },
    {
      name: 'feed',
      cwd: 'dist/workers',
      script: 'feed.js',
      instances: 1,
      exec_mode: 'cluster',
      watch: false,
      error_file: '/dev/null',
      out_file: '/dev/null',
      log_file: '/dev/null'
    },
    {
      name: 'og',
      cwd: 'dist/workers',
      script: 'og.js',
      instances: 1,
      exec_mode: 'cluster',
      watch: false,
      error_file: '/dev/null',
      out_file: '/dev/null',
      log_file: '/dev/null'
    },
    {
      name: 'clean',
      cwd: 'dist/workers',
      script: 'clean.js',
      instances: 1,
      exec_mode: 'cluster',
      watch: false,
      error_file: '/dev/null',
      out_file: '/dev/null',
      log_file: '/dev/null'
    }
  ]
};
